
.username {
  font-weight: bold;
}
.pealkiri {
  text-align: center;
  color: purple;
}
body {
  background-color: rgb(249, 225, 247);
  font-family: Arial, sans-serif;
}
h1 { font-size: 2rem; margin-bottom: 1rem; }
h2 { font-size: 1.5rem; margin: 1rem 0 0.5rem; }
main {
  background-color: seashell;
  padding: 20px;
}
.hero-image {
  background-image: url("")
}
header {
  background-image: url("../images/html.jpg");
  height: 100px;
  display :grid;
}
header nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 20px;
}
.kontaktpilt {
  width: 100px;
  border-radius: 50px;
  float: left;
  margin-right: 10px;
  border: 2px solid rgb(0, 0, 0);
}
.button {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
  